body {
	padding: 16px 96px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .users-column {
	display: inline-block;
	margin-right: 2em;
	vertical-align: top;
}

body .users-column .column-header {
	padding-bottom: 5px;
	font-weight: 700;
	font-size: 1.2em;
}

body .add-user-col input {
	margin-bottom: 10px;
}

body .users-column .user-display-ele {
	padding-bottom: 10px;
}

body .users-column .user-display-ele button {
	margin-top: 2px;
	margin-bottom: 10px;
}

body .users-column .user-display-ele .edit-view {
	display: none;
}

#form-search {
	padding: 16px;
}

#form-search input {
	font-size: small;
	padding: 4px 8px;
}

.table-responsive #all-dataset-anchor {
	border-top: 0;
	white-space: nowrap;
	font-size: small;
}

.table-responsive {
	overflow-y: auto;
	height: 460px;
}

.table-responsive #all-dataset-anchor tr {
	border-top: 0;
	border-bottom: 0;
}

.table-responsive #all-dataset-anchor thead th {
	position: sticky;
	top: 0;
	background: white;
}

#form-pagination {
	font-size: small;
}